<h2>Tips</h2>
<div style="color:#000000">
  <h3> Tips for you</h3>
  <% @tips_you.each do |tip| %>
      <p><%= tip.text %></p>
  <% end %>
  <h3>Tips your enemy could try</h3>
  <%= @tips_vs.each do |tip| %>
     <p><%= tip.text %> </p>
  <% end %>
</div>
