<h1 class=""> Bienvenido busca por nombre de invocador</h1>
   <p> por ahora solo soportamos LAN</p>

<%= form_tag(history_path, method: :get) %>

<%= text_field_tag :sn %><br><br>

<%= submit_tag 'Search Summoner!', class: "btn" %>